* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.title {
  padding-bottom: 50px;
}

.kirei h1:hover {
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 226, 226) 0px 0px 0px 15px;
}

.hunkle h1:hover {
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px, rgb(131, 131, 255) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(35, 174, 79) 0px 0px 0px 12px, rgb(255, 226, 226) 0px 0px 0px 15px;
}

.couple {
  display: flex;
  justify-content: center;
  background-color: #defdff;
  padding: 10px;
  max-height: 1000px;
}

.hunkle {
  padding: 20px;
}

.kirei {
  padding: 20px;
}

h1 {
  margin: 30px;
}

.credits {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  padding: 10px;
}

/* HUNKBOT */

.robots {
  justify-content: center;
  display: flex;
  animation-name: rob-dance;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes rob-dance {
  0% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-3deg);
  }
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #6dd090;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
  transition: transform 1s ease-in-out;
} 

.barf {
  text-align: center;
  position: relative;
  top: 50px;
  left: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: rgb(226, 219, 255);
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.head:hover .barf {
  opacity: 1;
}

.eyes {
	display: flex;
}

.head:hover {
  transition: transform 1s linear;
  transition: background-color 1s linear;
  transform: translateY(-20px);
  background-color: rgb(79, 98, 240);
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
  transition: transform 1.5s ease-in-out;
  animation-name: hips;
  animation-duration: 2s;
  animation-iteration-count: infinite;
} 

@keyframes hips {
  0% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(5deg);
  }
  35% {
    transform: rotateZ(10deg);
  }
  59% {
    transform: rotateZ(9deg);
  }
  79% {
    transform: rotateZ(-10deg);
  }
  89% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
  transition: transform 1s ease-in-out;
} 
.left_arm:hover { 
	transform: rotate(30deg);
  transition: transform 1s ease-in-out;
} 

.right_arm { 
	margin-left: 10px; 
  transition: transform 1s ease-in-out;
} 
.right_arm:hover { 
	transform: rotate(-50deg);
  transition: transform 1s ease-in-out;
} 

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  font-size: 20px;
} 

.torso:hover .dont-touch{
  opacity: 1;
}

.torso:hover .sweat-bot{
  opacity: 1;
}

.dont-touch, .sweat-bot {
  color: rgb(160, 255, 195);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
  display: flex;
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
  transition: transform 1s ease-in-out;
  
} 

.left_leg { 
	margin-left: 40px;
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 40px; 
  transition: transform 1s ease-in-out;
}

.right_leg:hover { 
	transform: rotate(-30deg);
  transition: transform 1s ease-in-out;
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
  animation-name: rob-eyes;
  animation-duration: 1s;
  animation-iteration-count: infinite;
} 

@keyframes rob-eyes {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 40px; 
  animation-name: left-eye;
  animation-duration: 1s;
  animation-iteration-count: infinite;
} 

@keyframes left-eye {
  from {
    left: 40px;
  }
  50% {
    opacity: 0.8;
  }
  to {
    left: 10px;
    background-color: yellow;
  }
}

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
  animation-name: right-eye;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes right-eye {
  from {
    left: 120px;
  }
  50% {
    opacity: 0.8;
  }
  to {
    left: 140px;
    background-color: yellow;
  }
}


/* KIRBOT */

.kirei .robots {
  justify-content: center;
  display: flex;
  animation-name: krob-dance;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

@keyframes krob-dance {
  0% {
    transform: rotateY(0);
  }
  15% {
    transform: translateY(-10px);
  }
  85% {
    transform: translateY(4px);
    transform: rotateZ(-3deg);
    transform: rotateY(-3deg);
  }
}

.kirei .head, 
.kirei .left_arm, 
.kirei .torso, 
.kirei .right_arm, 
.kirei .left_leg, 
.kirei .right_leg {
	 background-color: #f8db5b;
}

.kirei .head { 
	width: 200px; 
	height: 180px; 
	border-radius: 200px 200px 80px 80px; 
  transition: transform 1s ease-in-out;
  position: flex;
} 

.kirei .six-pack {
  text-align: center;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  color: rgb(255, 248, 149);
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.kirei .torso {
  animation-name: flabby;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  
}

@keyframes flabby {
  0% {
    transform: rotateY(0);
  }
  15% {
    border-radius: 40px;
  }
  35% {
    border-radius: 80px;
  }
  85% {
    border-radius: 100px;
    transform: rotateY(-3deg);
  }
}

.kirei .torso:hover .six-pack {
  opacity: 1;
}

.kirei .eyes {
	display: flex;
  justify-content: flex-start;
}

.kirei .head:hover {
  transition: transform 1s linear;
  transition: background-color 1s linear;
  background-color: #ff7e6f;
  transform: translateY(20px);
  box-shadow: rgb(255, 55, 0) 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}

.kirei .forehead {
  color:rgb(255, 239, 239);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  text-align: center;
  top: 40px;
  left: 50px;
  display:block;
  opacity: 0;
  position: absolute;
}

.kirei .head:hover .forehead {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.kirei .upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
  align-content: center;
  transition: transform 1.5s ease-in-out;
  animation-name: khips;
  animation-duration: 2s;
  animation-iteration-count: infinite;
} 

@keyframes khips {
  0% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(15deg);
  }
  35% {
    transform: rotateZ(10deg);
  }
  59% {
    transform: rotateZ(9deg);
  }
  79% {
    transform: rotateZ(15deg);
  }
  89% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.kirei .left_arm, .kirei .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.kirei .left_arm { 
	margin-right: 10px; 
  transition: transform 1s ease-in-out;
} 
.kirei .left_arm:hover { 
	transform: rotate(30deg);
  transition: transform 1s ease-in-out;
} 

.kirei .right_arm { 
	margin-left: 10px; 
  transition: transform 1s ease-in-out;
  animation-name: power;
  animation-duration: 1s;
  animation-iteration-count: infinite;
} 

@keyframes power {
  0% {
    transform: rotateZ(-10deg);
  }
  20% {
    transform: rotateZ(-30deg);
  }
  50% {
    transform: rotateZ(-40deg);
  }
}


.kirei .right_arm:hover { 
	transform: rotate(-50deg);
  transition: transform 1s ease-in-out;
} 

.kirei .torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  font-size: 20px;
} 

.kirei .torso:hover .dont-touch{
  opacity: 1;
}

.kirei .torso:hover .sweat-bot{
  opacity: 1;
}

.kirei .dont-touch, .sweat-bot {
  color: rgb(160, 255, 195);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.kirei .lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
  display: flex;
} 

.kirei .left_leg, .kirei .right_leg { 
	width: 40px; 
	height: 90px;
	border-radius: 0 0 100px 100px; 
  transition: transform 1s ease-in-out;
  
} 

.kirei .left_leg { 
	margin-left: 40px;
} 

.kirei .left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.kirei .right_leg { 
	margin-left: 40px; 
  transition: transform 1s ease-in-out;
}

.kirei .right_leg:hover { 
	transform: rotate(-30deg);
  transition: transform 1s ease-in-out;
}

.kirei .left_eye, .kirei .right_eye { 
  
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: rgb(81, 81, 81);  
  animation-name: krob-eyes;
  animation-duration: 1s;
  animation-iteration-count: infinite;
} 

@keyframes krob-eyes {
  0% {
    width: 20px;
    height: 20px;
  }

  20% {
    width: 15px;
    height: 5px;
    border-radius: 0px;
  }
}